@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* Contenedor centrado */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caja del formulario */
.login-form {
    background: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 100%;
    max-width: 420px;
    text-align: center;
    color: #fff;
}

/* Título superior (nombre del gimnasio) */
.login-form .brand-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
    letter-spacing: 1px;
}

/* SubTítulo */
.login-form h2 {
    margin-bottom: 20px;

    color: white;
    font-weight: 600;
    font-size: 20px;
}

.login-form input{
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.login-form input::placeholder {
    color: #ccc;
}

.login-form input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #61dafb;
}

/* Botón */
.login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.login-form button:hover {
    transform: scale(1.03);
}

/* Mensaje de error */
.error {
    color: #ff4d4d;
    margin-bottom: 15px;
    font-weight: bold;
}
